<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="style.css" type="text/css" />

    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <title>Card Glowing Hover Effects</title>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="face face1">
          <div class="content">
            <i class="fa fa-windows"></i>
            <h3>Windows</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
              aut dolorem nesciunt nemo laboriosam,
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <i class="fa fa-android"></i>
            <h3>Android</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
              aut dolorem nesciunt nemo laboriosam,
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="face face1">
          <div class="content">
            <i class="fa fa-apple"></i>
            <h3>Apple</h3>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima
              aut dolorem nesciunt nemo laboriosam,
            </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
