<div id="header">
    <div class="container">
        <nav>
            <img src="../../assets/images/logo.png" alt="logo" class="logo">
            <ul #sidemenu>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contact">Contact</a></li>
                <i class="fas fa-times" (click)="toggleMenu(false)"></i>
            </ul>
            <i class="fas fa-bars" (click)="toggleMenu(true)"></i>
        </nav>
        <div class="header-text">
            <p>UI Developer</p>
            <h1>Hi, I'm <span>Shivam</span><br>Sharma from India</h1>
        </div>
    </div>
</div>