* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: consolas;
}

:root {
  --bg-color: #111;
  --color-fingerprint: #3fefef;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scan {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.scan .fingerprint {
    position: relative;
    width: 350px;
    height: 450px;
    background : url(../asset/img/fingerPrint_01.png);
    background-size: 350px;
}

.scan .fingerprint::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background : url(../asset/img/fingerPrint_02.png);
    background-size: 350px;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%, 100% {
        height: 0;
    }

    50% {
        height: 100%;
    }
    
}

.scan .fingerprint::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: var(--color-fingerprint);
    filter: 
    drop-shadow(0 0 20px  var(--color-fingerprint))
    drop-shadow(0 0 60px  var(--color-fingerprint));
    animation: animate_line 4s ease-in-out infinite;
}

@keyframes animate_line {
    0%, 100% {
        top: 0%;
    }

    50% {
        top: 100%;
    }
    
}

.scan h3 {
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 2px;
    margin-top: 20px;
    color: var(--color-fingerprint);
    filter: 
    drop-shadow(0 0 20px  var(--color-fingerprint))
    drop-shadow(0 0 60px  var(--color-fingerprint));
    animation: animate_text 0.5s steps(1) infinite;
}

@keyframes animate_text {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}