* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #111;
  --clr-crl1: #24ecff;
  --clr-crl2: #93ff2d;
  --clr-crl3: #e41cf8;
}

body {
  background-color: var(--bg-color);

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .ring {
  position: relative;
  width: 150px;
  height: 150px;
  border: 4px solid transparent;
  border-top: 4px solid var(--clr-crl1);
  border-radius: 50%;
  margin: -30px;
  animation: animate 4s linear infinite;
}

.container .ring:nth-of-type(3) {
  position: absolute;
  top: -66.66px;
}

.container .ring::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--clr-crl1);
  box-shadow: 0 0 0 5px rgba(36, 236, 255, 0.2), 
  0 0 0 10px rgba(36, 236, 255, 0.133),
  0 0 0 20px rgba(36, 236, 255, 0.067),
  0 0 20px var(--clr-crl1),
  0 0 50px var(--clr-crl1);
}

.container .ring:nth-of-type(2) {
  animation: animate_2 4s linear infinite;
  animation-delay: 1s;
  border-top: 4px solid var(--clr-crl2);
}

.container .ring:nth-of-type(2)::before {
  background-color: var(--clr-crl2);
  box-shadow: 0 0 0 5px rgba(147, 255, 45, 0.2), 
  0 0 0 10px rgba(147, 255, 45, 0.133),
  0 0 0 20px rgba(147, 255, 45, 0.067),
  0 0 20px var(--clr-crl2),
  0 0 50px var(--clr-crl2);
}

.container .ring:nth-of-type(3) {
  animation: animate_3 4s linear infinite;
  animation-delay: 4s;
  border-top: 4px solid var(--clr-crl3);
}

.container .ring:nth-of-type(3)::before {
  background-color: var(--clr-crl3);
  box-shadow: 0 0 0 5px rgba(228, 28, 248, 0.2), 
  0 0 0 10px rgba(228, 28, 248, 0.133),
  0 0 0 20px rgba(228, 28, 248, 0.067),
  0 0 20px var(--clr-crl3),
  0 0 50px var(--clr-crl3);
}

.container p {
  position: absolute;
  bottom: -80px;
  letter-spacing: 0.15em;
  font-family: consolas;
  font-size: 1.5em;
  color: #fff;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
  
}

@keyframes animate_2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
  
}

@keyframes animate_3 {
  0% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(-180deg);
  }
  
}