* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --clr-dark: rgb(13, 17, 19);
  --clr-light: #fff;
  --clr-secondary: rgb(0, 76, 199);
  --br: 0.5em;
  --transition: transform 200ms cubic-bezier(0.21, 1, 0.81, 1);
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

h3 {
  font-size: 16px;
}

p {
  font-size: 12px;
}

img {
  max-width: 100%;
}

.game {
  position: relative;
  width: 12.5em;
  cursor: pointer;
}

.game:hover .rank {
  transform: translate(150%, -145%);
}

.game:hover .front {
  transform: translateY(-50%) scale(0.8);
}

.game:hover .front .name {
  animation: gameName 250ms forwards; /* forwards doesn't reset the animation after 100%*/
}

.game:hover .front .stats {
  opacity: 0;
}

.game:hover .back {
  opacity: 1;
  transform: translateY(0);
  transition: transform 250ms ease, opacity 250ms linear;
}

.game:hover .background {
  transform: scale(1.5);
  opacity: 1;
  transition: var(--transition), opacity 100ms linear;
}

.game .streamers {
  display: flex;
  text-align: center;
}

.game .streamers img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 2px solid var(--clr-dark);
}

.game .front .streamers img:nth-of-type(1) {
  transform: translateX(50%);
  z-index: 1;
}

.game .front .streamers img:nth-of-type(2) {
  transform: translateX(25%);
}

.rank {
  position: absolute;
  font-weight: bold;
  top: 0;
  right: 1em;
  background: rgba(0, 0, 0, 0.65);
  padding: 0.5em 0.5em 0.75em;
  font-size: 1.125rem;
  clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0);
  z-index: 1000;
  transition: var(--transition);
}

.front {
  transition: 250ms;
}

.front .stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.front .name {
  margin: 0.75em 0;
}

.front .thumbnail {
  border-radius: var(--br);
}

.back {
  opacity: 0;
  position: absolute;
  top: 37%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  transform: translateY(35%);
}

.back .streaming-info {
  margin: 1em 0;
  columns: 2;
  column-rule: 1px solid rgba(255, 255, 255, 0.25);
}

.back .streaming-info .game-stats {
  font-size: 1.125rem;
  text-align: center;
}

.back .streaming-info span {
  display: block;
  font-size: 0.85rem;
}

.back .btn {
  border: 0;
  background: var(--clr-secondary);
  border-radius: 100vw;
  color: var(--clr-light);
  padding: 0.5em 1.5em;
  font-weight: bold;
}

.back .streamers {
  width: 100%;
  justify-content: space-between;
}

.back .streamers .streamer {
  font-size: 0.9rem;
}

.back .streamers .streamer .name {
  font-weight: bold;
}

.background {
  position: absolute;
  background: rgb(40, 46, 54);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: scale(0.2, 0.9);
  border-radius: var(--br);
  opacity: 0;
}

@keyframes gameName {
  0% {
    text-align: left;
    opacity: 1;
  }
  20% {
    text-align: left;
    opacity: 0;
  }
  50% {
    text-align: center;
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    text-align: center;
    opacity: 1;
    transform: scale(1.2);
  }
}
