<div id="services">
  <div class="container">
    <h1 class="sub-title">My Services</h1>
    <div class="services-list">
      <div>
        <fa-icon [icon]="faCode"></fa-icon>
        <h2>Web Design</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
          dignissimos quis praesentium quam ab delectus, est odit saepe officiis
          veritatis.
        </p>
        <a href="#">Learn more</a>
      </div>
      <div>
        <fa-icon [icon]="faCrop"></fa-icon>
        <h2>UI/UX Design</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
          dignissimos quis praesentium quam ab delectus, est odit saepe officiis
          veritatis.
        </p>
        <a href="#">Learn more</a>
      </div>
      <div>
        <fa-icon [icon]="faStore"></fa-icon>
        <h2>App Design</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
          dignissimos quis praesentium quam ab delectus, est odit saepe officiis
          veritatis.
        </p>
        <a href="#">Learn more</a>
      </div>
    </div>
  </div>
</div>
