* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

canvas {
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 799px;
  height: 981px;
  transform: translate(-50%, -50%);
}
