* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #ff216d, #2196f3);
}

.navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle {
    position: relative;
    width: 70px;
    height: 70px;
    background: #FFF;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.menu-toggle::before {
    content: '+';
    position: absolute;
    font-size: 3em;
    font-weight: 200;
    color: #ff216d;
    transition: 1.5s;
}

.menu-toggle.active::before {
    transform: rotate(225deg);
}

.menu {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #FFF;
    border-radius: 70px;
    z-index: -1;
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: 1s, 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.menu-toggle.active ~ .menu {
    width: 240px;
    height: 70px;
    z-index: 1;
    transform: translateY(-100px);
    transition-delay: 0s, 0.5s, 0.5s;
}

.menu::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #FFF;
    left: calc(50% - 8px);
    bottom: 4px;
    transform: rotate(45deg);
    border-radius: 2px;
    transition: 0.5s;
}

.menu-toggle.active ~ .menu::before {
    transition-delay: 0.5s;
    bottom: -6px;
}

.menu ul {
    height: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu li {
    list-style: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
    transition: 0.25s;
    transition-delay: calc(0s + var(--i));
}

.menu li a {
    display: block;
    font-size: 2em;
    text-decoration: none;
    color: #555;
}

.menu li:hover a {
    color: #ff216d;
}

.menu-toggle.active ~ .menu li {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
    transition-delay: calc(0.75s + var(--i));
}