<div id="portfolio">
  <div class="container">
    <h1 class="sub-title">My Work</h1>
    <div class="work-list">
      <div class="work">
        <img src="../../assets/images/work-1.png" alt="work1" />
        <div class="layer">
          <h3>Social Media App</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
            quaerat a itaque ipsum impedit reiciendis.
          </p>
          <a href="#"> <fa-icon [icon]="faExternalLink"></fa-icon></a>
        </div>
      </div>
      <div class="work">
        <img src="../../assets/images/work-2.png" alt="work2" />
        <div class="layer">
            <h3>Music App</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
              quaerat a itaque ipsum impedit reiciendis.
            </p>
            <a href="#"> <fa-icon [icon]="faExternalLink"></fa-icon></a>
          </div>
      </div>
      <div class="work">
        <img src="../../assets/images/work-3.png" alt="work3" />
        <div class="layer">
            <h3>Online Shopping App</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora
              quaerat a itaque ipsum impedit reiciendis.
            </p>
            <a href="#"> <fa-icon [icon]="faExternalLink"></fa-icon></a>
          </div>
      </div>
    </div>
    <a href="#" class="btn">See More</a>
  </div>
</div>
