<div id="header">
    <div class="container">
        <nav>
            <img src="../../assets/images/logo.png" alt="logo" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="header-text">
            <p>UI Developer</p>
            <h1>Hi, I'm <span>Shivam</span><br>Sharma from India</h1>
        </div>
    </div>
</div>